.LaunchProfile {
  height: 100vh;
  max-height: 100%;
  /* width: calc(100vw - 300px); */
  overflow: hidden auto;
  padding-left: 20px;
  padding-right: 20px;
}

.LaunchProfile__status {
  margin-top: 40px;
}

.LaunchProfile__title {
  margin-top: 0;
  margin-bottom: 4px;
}

.LaunchProfile__image-list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 40px;
  padding-bottom: 100px;
}
.img_cont {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(13, 13, 31);
  align-items: center;

}
.LaunchImages {
  width: 80%;
  margin: 5px 0px;
}

@media screen and (max-width: 768px) {
  
  .LaunchProfile{
    display: flex;
    flex-direction: column;
    /* margin: 10px; */
    width: 100%;
    padding: 10px;
    /* justify-content: space-around; */
    
  }
  .launch_details{
    font-size: 23px;
  }
}